.Side-bar
  .Side-header
    .Side-header-box
      .Side-header-box__user-name
        = current_user.name
      .Side-header-box__icon
        %ul.icon-list
          %li
            = link_to new_group_path, class: "icon-btn" do
              = icon('fas', 'edit')
          %li.setting
            = link_to edit_user_path(current_user), class: "icon-btn" do
              = icon('fas', 'cog')

  .Side-main
    - current_user.groups.each do |group|
      .Side-content
        = link_to '#' do
          .Side-content__group-name
            = group.name
          .Side-content__message
            message
